<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <FindUnitError name="单位拼写错误">1</FindUnitError>
  <FindSpecificationsError name="规范拼写错误">1</FindSpecificationsError>
  <FindNotExplainComponentNo name="编号未说明">1</FindNotExplainComponentNo>
  <FindSequenceNumberError name="表格内序号不连续">1</FindSequenceNumberError>
  <FindStrainOrDispError name="静载试验应变、挠度计算错误">1</FindStrainOrDispError>
  <FindDescriptionError name="名词描述错误">1</FindDescriptionError>
  <FindOtherBridgesWarnning name="其它报告桥梁未替换或删除">1</FindOtherBridgesWarnning>
</configuration>