<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Method Name="FindUnitError" Content="单位拼写错误">1</Method>
  <Method Name="FindSpecificationsError" Content="规范拼写错误">1</Method>
  <Method Name="FindNotExplainComponentNoWarnning" Content="编号未说明">1</Method>
  <Method Name="FindSequenceNumberError" Content="表格内序号不连续">1</Method>
  <Method Name="FindStrainOrDispError" Content="静载试验应变、挠度计算错误">1</Method>
  <Method Name="FindDescriptionError" Content="名词描述错误">1</Method>
  <Method Name="FindOtherBridgesWarnning" Content="其它报告桥梁未替换或删除">0</Method>
  <Method Name="FindStrainOrDispContextWarnning" Content="静载试验应变、挠度上下文数据对应">1</Method>
  <Method Name="FindPageContextError" Content="页码上下文对应错误">1</Method>
  <Method Name="FindTableTitleInSinglePageWarnning" Content="表格标题单独位于某1页">1</Method>
  <Method Name="FindPictureTitleInSinglePageWarnning" Content="图片标题单独位于某1页">1</Method>
  <Method Name="FindTableTitleSequenceNumberError" Content="表格序号不连续">1</Method>
  <Method Name="FindPictureTitleSequenceNumberError" Content="图片序号不连续">1</Method>
  <Method Name="FindHalfWidthCommaWarnning" Content="文中出现半角逗号">1</Method>
</configuration>